name: "Build and publish"

on:
  push:
    tags:
      - 'v*'

env:
  MAIN_PROJECT_PATH: 'FluentFin\FluentFin.csproj'
  FFMPEG_PATH: 'Installer\FFmpeg'
  PUBLISH_FOLDER: 'FluentFin\bin\publish'
  CTK_LABS_INDEX: https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json

jobs:
    deploy:
        name: 'Build and deploy'
        runs-on: 'windows-latest'
        steps:
        -   name: 'Checkout'
            uses: actions/checkout@v4
  
        -   name: 'Install dotnet'
            uses: actions/setup-dotnet@v4
            with:
                dotnet-version: '10.0.x'
        
        -   name: 'Add msbuild to PATH'
            uses: microsoft/setup-msbuild@v1.1

        -   name: Add Windows Community Toolkit labs nuget source
            run: dotnet nuget add source ${{env.CTK_LABS_INDEX}} -n CommunityToolkitLabs
        
        -   name: 'Get version'
            id: version
            uses: battila7/get-version-action@v2

        -   name: 'Build Project'
            run: dotnet publish ${{ env.MAIN_PROJECT_PATH }} --self-contained -c Release -r win-x64 -o ${{ env.PUBLISH_FOLDER }}\ /property:BuildVersion=${{ steps.version.outputs.version-without-v }}

        -   name: Create Windows Installer
            uses: Minionguyjpro/Inno-Setup-Action@v1.2.5
            with:
                path: Installer\script.iss
                options: /O+
  
        -   name: 'Create Release and Upload Assets'
            uses: softprops/action-gh-release@v1
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
                tag_name: ${{ steps.version.outputs.version-without-v }}
                name: ${{ steps.version.outputs.version-without-v }}
                files: Installer\Output\FluentFin.exe
